@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
  font-style: normal;
  text-decoration: none;
}
body{
  background-color:#1d1d1d;
h1 {
  font-size: 45px;
}
.main-index {
  display: flex;
  align-items: center;
  height: 100vh;
}
.container {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}
.p-index {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.enter {
  font-size: 35px;
}
.enter:hover {
  text-decoration: underline;
}
